html {
    font-family: "Titillium Web";
    font-size: 16px;
    color: #543400;
}

body {
    margin: 0;
    padding: 0;
    
}

main {
    text-align: center;
}

a {
    text-decoration: none;

}

h1 {
    font-family: "Orbitron";
    text-align: center;
    font-size: 5rem;
    color: #F7B500;
    margin: 1.5rem 0;
    font-weight: 700;

}

h2 {
    font-weight: 600;
    font-size: 3rem;
    color: #63BBB0;
    margin: 1rem 0;
}

h3 {
    /* font-weight: 600; */
    font-size: 2rem;
    color: #e80f3b;
    margin: 0.7rem 0;
    font-weight: 400;
}



/* Navigatie */

.primenav {
    /* height: 2rem; */
    height: 6vh;
    position: absolute;
    top: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.primenav ul {
    /* z-index: 100; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
    height: 100%;
}

.primenav li {
    list-style: none;
    padding: 10px;
    width: 150px;
}

.primenav a {
    font-size: 1.6rem;
    line-height: 1.5rem;
    color: #F7B500;
    transition: all 200ms ease-in 10ms;
    padding: 0 15px;
    border-radius: 5px;
}

.primenav a:hover {
    border-style: none;
    background-color: rgba(0, 0, 0, 0.5);
 
}


@media only screen and (max-width: 550px) {

    .primenav li {
        width: 90px;
    }
    
    .primenav a {
        font-size: 1rem;
        line-height: 1.2rem;
    }

    
}


/* Hero Banner */

.hero {
    width: 100vw;
    height: 100vh;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black
}

.hero::before {
    content: "";
    background-image: url(../images/banner1.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.hero .arrow img {
    width: 100%;
    height: auto;
}

a.arrow {
    opacity: 0.7;
    z-index: 5;
    width: 100px;
    position: absolute;
    bottom: 20px;
    cursor: pointer;
    transition: all 100ms ease-in 10ms;
}

a.arrow:hover {
    width: 120px;
}

a.arrow:active {
    width: 100px;
}

.herotext {
    opacity: 1;
    z-index: 5;
    padding: 3rem;
    /* background-color: rgba(84, 52, 0, 0.5) */
    background-color: rgba(0, 0, 0, 0.5)
}


.herotext .accent {
    color: #63BBB0;
}

/* About Section */

.brand {
    color: #F7B500;
}

.containersmall {
    width: 75%;
    margin: 25px auto 75px;
}

.imgtxt {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

.imgtxt img {
    width: 45%;
    flex: 1 5 auto;
}

.imgtxt .txt {
    padding: 25px;
    text-align: justify;
    flex: 8 1;
    font-size: 1.1rem;
    line-height: 1.6rem;
}

.imgtxt .txt .quote {
    position: relative;
    left: 50px;
    width: 80%;
    line-height: 2rem;
    font-style: italic;
    font-size: 1.5rem;
    font-weight: 200;
    font-family: "Josefin Slab";
    color: #e80f3b;
}


@media only screen and (max-width: 1200px) {
    
    .imgtxt {
        flex-direction: column;
    }
    
    .imgtxt img {
        width: 80%;
    }
        
}

@media only screen and (max-width: 550px) {

    .imgtxt .txt .quote {
        left: 25px;
        width: 80%;
    }
    
}

/* Products Section */

.containerfull {
    background-color: #543400;
    width: 100%;
    padding: 5px 0 25px;
}

.products {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 25px;
    width: 80%;
    margin: 0 auto;
    padding: 25px;
}

.product {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 250px;
    height: 250px;
    background-size: cover;
    flex: 1 1 30%;
    vertical-align: middle;
    background-position: center;
}


a.product h3{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 0;
    margin: 0;
    height: 50px;
    color: #F7B500;
    transition: all 500ms ease-in 10ms;
    box-sizing: border-box;
}

a.product:hover h3{
    height: 100%;
    padding: 100px 0;
}

.amsterdam {
    background-image: url(../images/amsterdam.jpg);
}

.barcelona {

    background-image: url(../images/barcelona.jpg);
}

.berlin {
    background-image: url(../images/berlin.jpg);
}

.bruges {
    background-image: url(../images/bruges.jpg);
}

.paris {
    background-image: url(../images/paris.jpg);
}

.venice {
    background-image: url(../images/venice.jpg);
}

/* Team Section */

.teamcontainer {
    width: 80%;
    margin: 0 auto;
}

.team {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.member {
    max-width: 350px;
    min-width: 250px;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.member h3 {
    color: #F7B500;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0;
    width: 100%;
}

.member img {
    width: 100%;
    height: auto;
}

#team {
    background-image: url(../images/banner2.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 10px 0 50px;
}

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items:  flex-end;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.fleft {
    text-align: left;
}

.fmiddle {
    text-align: center;
    color: #F7B500;
    font-family: "Orbitron";
}

.fmiddle .accent {
    color: #63BBB0;
}

.fleft, .fright, .fmiddle {
    width: 30%;
}

.fright {
    text-align: right;
}